{% if page.menubar and page.show_sidebar %} 
    {% assign content_width = 'is-4' %} 
{% elsif page.menubar or page.show_sidebar %} 
    {% assign content_width = 'is-8' %} 
{% else %} 
    {% assign content_width = 'is-12' %} 
{% endif %}
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    {% unless page.hide_hero %}
        {% include hero.html %}
    {% endunless %}
    {% include callouts.html %}
    <section class="section">
        <div class="container">
            <div class="columns">
                {% if page.menubar %}
                <div class="column is-4-desktop is-4-tablet">
                    {% include menubar.html %}
                </div>
                {% endif %}
                <div class="column {{ content_width }}">
                    {% include tabs.html %}
                    {{ content }}
                </div>
                {% if site.posts and page.show_sidebar %}
                <div class="column is-4-desktop is-12-tablet">
                    {% include latest-posts.html %}
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <div id="barraaceptacion" style="display: none;">
        <div class="inner">
            Solicitamos su permiso para obtener datos estad&iacute;sticos de su navegación en esta web, en cumplimiento del Real 
            Decreto-ley 13/2012. Si contin&uacute;a navegando consideramos que acepta el uso de cookies.
            <a href="javascript:void(0);" class="ok" onclick="PonerCookie();"><b>OK</b></a> | 
            <a href="http://politicadecookies.com" target="_blank" class="info">M&aacute;s informaci&oacute;n</a>
        </div>
    </div>
    {% unless page.hide_footer %}
        {% include footer.html %}
    {% endunless %}
    <script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript"></script>
    {%- include footer-scripts.html -%}
  </body>
</html>

